#display checkbox
{
	width: 100px;
}

#greek richlistbox
{
	height: 100px;
	width: 200px;
}

#greek richlistitem>label
{
	margin-top: 5px;
	width: 60px;
}

#greek richlistbox checkbox
{
	width: 40px;
}

radio[pane]
{
	list-style-image: url("chrome://easymath/skin/prefpane.png"); 
}
radio[pane=display]
{
	-moz-image-region: rect(0, 32px, 32px, 0);
}
radio[pane=greek]
{
	-moz-image-region: rect(0, 64px, 32px, 32px);
}