button
{
	min-width: 2em;
	min-height: 1.3em;
	margin: 0px;
	font-size: 1.3em;
	padding: 0px;
	display: inline-block;
}

#container
{
	overflow-y: scroll;
	overflow-x: hidden;
}

#html-bb radio
{
	display: inline-block;
}

br
{
	display: block;
	height: 0.5em;
}

groupbox
{
	
}