button
{
	min-width: 30px;
	min-height: 30px;
	margin: 0px;
	font-size: 1.3em;
	padding: 0px;
}

#container
{
	overflow-y: scroll;
	overflow-x: hidden;
}

#html-bb radio
{
	display: inline-block;
}

groupbox
{
	background-color: red;
}